# Ignore environment files
.env

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore virtual environment directories
.venv/
env/

# Ignore database files
*.db

# Ignore log files
*.log

# Ignore IDE/editor-specific files
.idea/
.vscode/