# Ignore environment files
.env

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore virtual environment directories
.venv/
env/

# Ignore database files
*.db

# Ignore log files
*.log

# Ignore IDE/editor-specific files
.idea/
.vscode/

# Ignore node_modules and cache files
node_modules/
client/node_modules/.cache/
git rm -r --cached node_modules/

#Ignore .DS_store 
echo ".DS_Store" >> .gitignore
